@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Login" asp-action="Logout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

} else
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body p-md-5">
                        <form asp-controller="Login" asp-action="Index" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="Username" aria-describedby="usernameHelp">
                                <div id="usernamelHelp" class="form-text">ex. username</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" aria-describedby="passwordHelp">
                                <div id="passwordHelp" class="form-text">Your password must be 8-20 characters long.</div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="rememberCheck">
                                <label class="form-check-label" for="rememberCheck">Remember me</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary signInButton" style="border-radius: 10px;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}