@model QuestionnaireApp.Models.Survey
@{
    ViewData["Title"] = Model.Title;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body p-md-5">
                        <div class="survey">
                            <h3>@Model.Title</h3>
                            <h6>@Model.Description</h6>
                            <form asp-controller="Survey" asp-action="Submit" method="post">
                                <input type="hidden" name="SurveyId" value="" />
                                @foreach (var question in Model.Questions)
                                {
                                    <p>@question</p>
                                    <input type="text" class="form-control" />
                                }
                                <br />
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary signInButton" style="border-radius: 10px;">Finish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <h1>YoU hAvE tO lOgIn!?</h1>
}

<!---->